body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  margin: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.navbar-logo{
  width: 20rem;
  margin: 0.5rem;
}

.navbar-links > ul {
  list-style: none;
  display: flex;
}

ul > li {
  margin: 0 1rem;
  white-space: nowrap;
}

li > a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
}


@media screen and (max-width: 600px) {

  nav{
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
  }
  .nav-image{
    display: flex;
    justify-content: center;
  }
  .navbar-links{
    display: flex;
    justify-content: center;
  }

  .heading{
    width: 60%;
    margin: 0 auto;
  }

}
